#isotope_grid {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#area_chart {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

h1{
    font-weight: 510;
	backgraound_color: #34657f;
	color: white;
	padding-left: 5px;
	text-allign:center;
}
