#isotope_grid {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#area_chart {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

h1{
    font-weight: 9000;
    background-color: #f3ebf5;
    color: blue;
    padding-left: 5px;
    text-align: center;
}

